@using MovieProDemo.ViewModels
@using MovieProDemo.Services.Interfaces
@inject IImageService _imageService

@model LandingPageVM

@{
    ViewData["Title"] = "MoviePro";
    var btnClass = "btn btn-lg btn-warning fw-bold w-100";
    var colStyle = string.Empty;
    var count = 0;
    var collId = string.Empty;
    var carouStyle = "carousel";
}

<div class="row">
    <div class="col-12">
        <h4 class="mb-3">CUSTOM COLLECTIONS</h4>
        <div class="row mb-4">
            <div class="col-12">
                <div class="collections">
                    @foreach (var collection in Model.CustomCollections)
                    {
                        collId = "coll" + count;
                        colStyle = (collection.Name == "All") ? "active" : "inactive";
                        <button class="@colStyle" id="@collId">#@collection.Name</button>
                        count++;
                    }
                    @{ count = 0; }
                    <div class="text-end mb-1" id="groupIndicator"></div>
                    <div class="carousel-container">
                        @foreach (var collection in Model.CustomCollections)
                        {
                            @if (count > 0)
                            {
                                carouStyle = "carousel hide";
                            }
                            <div class="@carouStyle">
                                <button class="carousel-control ctrl-prev"><span class="material-symbols-outlined">arrow_left</span></button>
                                <button class="carousel-control ctrl-next"><span class="material-symbols-outlined">arrow_right</span></button>
                                <div class="carousel-track d-flex flex-nowrap">
                                    @foreach(var movie in collection.MovieCollections)
                                    {
                                        <div class="card clean">
                                            <img src="@_imageService.DecodeImage(movie.Movie.Poster, movie.Movie.PosterType)" class="card-img-top img-fluid" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.Movie.Title</h5>
                                                <p class="card-text clampOverview">@movie.Movie.Overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.Movie.MovieId" class="">More Info</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            count++; 
                        }
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*<section class="px-4">
    <div class="row">
        <span class="btn btn-lg btn-block btn-warning fw-bolder border-dark">UPCOMING</span>
    </div>
    <div class="row">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    var classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Upcoming.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem; min-height: 74vh;">
                                            <img src="@movie.poster_path" class="card-img-top img-fluid" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="@btnClass">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>
<section class="px-4">
    <div class="row">
        <span class="btn btn-lg btn-block btn-warning fw-bolder border-dark">NOW PLAYING</span>
    </div>
    <div class="row">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.NowPlaying.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem; min-height: 74vh;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="@btnClass">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>
<section class="px-4">
    <div class="row">
        <span class="btn btn-lg btn-block btn-warning fw-bolder border-dark">POPULAR</span>
    </div>
    <div class="row">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Popular.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem; min-height: 74vh;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="@btnClass">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>
<section class="px-4">
    <div class="row">
        <span class="btn btn-lg btn-block btn-warning fw-bolder border-dark">TOP RATED</span>
    </div>
    <div class="row">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.TopRated.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem; min-height: 74vh;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="@btnClass">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
        </div>
    </div>
</section>*@

@section Scripts {
<script>
    // one indicator for every 2 movies | every 3 on larger viewport widths
    var groupSize = 2;
    //console.log(window.innerWidth);
    if (window.innerWidth > 768) { // bootstrap md breakpoint
        groupSize = 3;
    }
    const carousels = Array.from(document.querySelectorAll(".carousel"));
    const collections = Array.from(document.querySelectorAll(".collections > button"));
    const dotSection = document.getElementById("groupIndicator");
    var space = document.querySelector(".card.clean").offsetWidth * groupSize; // number of px to move in either direction
    var prevBtn, nextBtn, numMovies, targetCaroId, visiCaroId = "carousel0", collPos = 0, curr = 0, carouselCount = 0, carouselItems = [], dotArr = [], dotGroups = [], groupList = [];
    
    for (let i = 0; i < collections.length; i++) {
        
        document.getElementById(collections[i].id).addEventListener("click", () => {
            collPos = collections[i].id.substring(collections[i].id.length-1);
            targetCaroId = "carousel" + collPos;
            // select first element with a class of carousel & transition opacity to 0
            document.getElementById(visiCaroId).style.opacity = 0;
            document.getElementById(targetCaroId).style.opacity = 0;
            document.getElementById(collections[i].id).setAttribute("class", "active");
            collections.forEach(btn => {
                if (btn.id != collections[i].id) {
                    document.getElementById(btn.id).setAttribute("class", "inactive");
                }
            });
            //console.dir(dotGroups);
            document.getElementById(groupList[collPos]).setAttribute("class", "");
            document.getElementById(groupList[visiCaroId.substring(visiCaroId.length - 1)]).setAttribute("class", "hide");
            // after transition ends | hide then show
            setTimeout(() => {
                carousels.forEach(carousel => {
                    if (carousel.id != targetCaroId) {
                        document.getElementById(carousel.id).setAttribute("class", "carousel hide");
                    }
                });
                document.getElementById(targetCaroId).setAttribute("class", "carousel");
            }, 500);
            setTimeout(() => { 
                document.getElementById(visiCaroId).style.opacity = 1;
                document.getElementById(targetCaroId).style.opacity = 1;
                visiCaroId = targetCaroId;
            },515);
        });

    }
    
    carousels.forEach(carousel => {
        carousel.id = "carousel"+carouselCount;
        carousel.dataset.target = 0;
        carousel.dataset.position = carouselCount;
        carouselItems.push("#" + carousel.id + " .carousel-track .card.clean");

        buildDotGroup(carouselCount, carouselItems.length);
        // the current issue is that the dot ids are named the same in every group and I am not selecting the particular group when adjusting styling. 
        // find way to specify the particular dotGroup when selecting the dot ids
        // should be possible using the querySelector method | instead of using getElementById, use querySelector and specify dotGroup before dot id

        document.querySelector("#" + carousel.id + " .ctrl-prev").addEventListener("click", () => {
            console.dir(dotArr);
            dotArr = getDotArr(carousel.id.substring(carousel.id.length-1), dotGroups);

            (carousel.dataset.target >= 0) ? carousel.dataset.target = document.querySelectorAll(carouselItems[carousel.dataset.position]).length * -140 : carousel.dataset.target = parseInt(carousel.dataset.target) + space;
            document.getElementById(dotArr[curr]).setAttribute("class", "material-symbols-outlined");
            if (curr == 0) curr = dotArr.length;
            document.getElementById(dotArr[--curr]).setAttribute("class", "material-symbols-outlined orange600");
            document.querySelectorAll("#"+ carousel.id + " .carousel-track .card.clean").forEach(item => {
                item.style.transform = "translateX(" + carousel.dataset.target + "px)";
            });
        });
        document.querySelector("#" + carousel.id + " .ctrl-next").addEventListener("click", () => {
            console.dir(dotArr);
            dotArr = getDotArr(carousel.id.substring(carousel.id.length-1), dotGroups);

            (carousel.dataset.target <= document.querySelectorAll(carouselItems[carousel.dataset.position]).length * -140) ? carousel.dataset.target = 0 : carousel.dataset.target -= space;
            document.getElementById(dotArr[curr]).setAttribute("class", "material-symbols-outlined");
            if (curr == dotArr.length-1) curr = -1;
            document.getElementById(dotArr[++curr]).setAttribute("class", "material-symbols-outlined orange600");
            document.querySelectorAll("#"+ carousel.id + " .carousel-track .card.clean").forEach(item => {
                item.style.transform = "translateX(" + carousel.dataset.target + "px)";
            });
        });
        carouselCount++;
    });

    //grab ids of individ dots
    for (let i = 0; i < groupList.length; i++) {
        dotArr = [];
        for (let x = 0; x < document.getElementById(groupList[i]).children.length; x++) {
            dotArr.push(dotSection.children[i].children[x].id);
        }
        dotGroups.push(dotArr);
    }
    
    function getDotArr(count, group) {
        dotArr = group[count];
        return dotArr;
    }

    function buildDotGroup(index, numMovies) {
        const dotGroup = document.createElement("div");
        dotGroup.id = "dotGroup" + index;
        if (groupList.length > 0) dotGroup.setAttribute("class", "hide");
        createIndicators(groupSize, dotGroup, numMovies)
        groupList.push(dotGroup.id);
        dotSection.append(dotGroup);
    }

    function createIndicators(size, group, numMovies) {
        for (let i = 0; i <= size / numMovies; i++) {
            const dotEle = document.createElement("span");
            dotEle.id = "dot" + i;
            dotEle.setAttribute("class", "material-symbols-outlined");
            if (i == 0) dotEle.classList.add("orange600");
            dotEle.textContent = "circle";
            group.append(dotEle);
        }
    }

    // setAttributes helper function
    function setAttributes(el, attrs) {
        for (var key in attrs) {
            el.setAttribute(key, attrs[key]);
        }
    }

</script>
}