@using MovieProDemo.Models.Database
@using MovieProDemo.Services.Interfaces

@inject IImageService _imageService

@model List<Movie>

@{
    var errorMessage = TempData["errMsg"];
}

<div class="row">
    <div class="col-8 text-center mx-auto">
        <h2 class="mb-5 fredoka">DISCOVER &amp; IMPORT MOVIES</h2>
        <h6>Bloodhound's typeahead feature combined with the TMDB API allows us to both discover and import movies!</h6>
        @if( errorMessage != null )
        {
            <h5 class="text-danger">@errorMessage</h5>
        }
    </div>
    <form class="col-8 mx-auto mb-5" id="importForm" asp-controller="Movies" asp-action="Import">
        <hr class="fw-bold text-warning" />
        <div class="input-group">
            <input type="text" name="MovieImport" id="movieSearch" autocomplete="off" placeholder="ENTER MOVIE TITLE..." />
            <button type="submit" class="btn btn-warning btn-sm" id="importBtn">IMPORT</button>
        </div>
        <hr class="fw-bold text-warning" />
    </form>
    @foreach (var movie in Model)
    {
        <div class="row mb-3">
            <div class="col-4 col-md-3">
                <img src="@_imageService.DecodeImage(movie.Poster, movie.PosterType)" class="img-fluid" alt="Movie Poster">
            </div>
            <div class="col-8 col-md-9 col-lg-8 col-lg-offset-1">
                <h6><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.MovieId" class="text-warning text-decoration-none">
                    @movie.Title <small class="text-muted fst-italic fw-bold">(@movie.ReleaseDate.ToString("yyyy"))</small>
                </a></h6>
                <p><span class="material-symbols-outlined orange600">star</span><span class="fw-bold">@Math.Round(movie.VoteAverage,1)</span>/10</p>
                <small>@movie.Overview</small>
                <hr />
                <div class="row">
                    <div class="col-4"><small>Run Time: @movie.RunTime</small></div>
                    <div class="col-4"><small>MMPA: @movie.Rating</small></div> 
                    <div class="col-4"><small>Release: @movie.ReleaseDate.ToString("dddd, dd MMMM yyyy")</small></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form asp-action="Delete" asp-controller="Movies" class="text-center mt-3">
                            <input type="hidden" name="id" value="@movie.MovieId" />
                            <button type="submit" class="btn-danger mx-auto">DELETE MOVIE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- site.js includes typeahead functionality -->